/chatbot-backend/node_modules
/chatbot-backend/.env
/chatbot-backend/.DS_Store
/chatbot-backend/dist
/chatbot-ui/node_modules
/chatbot-ui/.env
/chatbot-ui/.DS_Store
/chatbot-ui/dist

/chatbot-backend/npm-debug.log*
/chatbot-backend/yarn-debug.log*
/chatbot-backend/yarn-error.log*
/chatbot-backend/pnpm-debug.log*
/chatbot-ui/npm-debug.log*
/chatbot-ui/yarn-debug.log*
/chatbot-ui/yarn-error.log*
/chatbot-ui/pnpm-debug.log*

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/chatbot-backend/.idea
/chatbot-backend/.vscode
/chatbot-backend/*.suo
/chatbot-backend/*.ntvs*
/chatbot-backend/*.njsproj
/chatbot-backend/*.sln
/chatbot-backend/*.sw?
/chatbot-ui/.idea
/chatbot-ui/.vscode
/chatbot-ui/*.suo
/chatbot-ui/*.ntvs*
/chatbot-ui/*.njsproj
/chatbot-ui/*.sln
/chatbot-ui/*.sw?